body{
  margin:0;
}

header{
  background: #444;
  color:orange;
  margin:0;
  padding: 15px 15px 0px 15px;
}

header h1{
  display:inline;
  margin:0;
  padding: 0 15px 0 0;
}

nav{

}

nav ul {
  display:inline;
  padding: 0px;
  margin: 0px 0px;

}

nav ul li {
  display: inline-block;
  list-style-type: none;
  background-color: orange;
  color:white;
  padding: 5px 15px;
  margin: 0px 0px;

}

nav ul li a{
  color:black
}

div.row:after{
  clear:both;
  content:"";
  display:table;
}

div.row {

}

div.col{
  float: left;
  background: #999;
  padding:10px .5%;
  margin: 10px .5%;
  width: 31%;
  border-radius:5px;
}

footer{

}
